.cart-button {
    position: relative;
  }
  
.cart-button span{
    position: absolute;
    top: -7px;
    right: -4px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
  }